<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>download order details</title>
    <style>
        th, td {
            padding: 5px 15px;
        }

        th {
            font-size: 15px;
        }

        td {
            font-size: 13px;
        }
    </style>
</head>
<body>
<h1 style="text-align: center;">Your Order Details</h1>

<table border="1" style="border-collapse: collapse;">
    <thead>
    <tr>
        <th>SL.NO</th>
        <th>Item</th>
        <th>QTY</th>
        <th>Unit Price</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>AAA</td>
        <td>1</td>
        <td>100</td>
        <td>100</td>
    </tr>
    <tr>
        <td colspan="4" class="table-disable">Total Amount</td>
        <td>100</td>
    </tr>
    </tbody>
</table>
</body>
</html>
