{% extends "base.html" %}
{% block extra_head %}
    <style>
        .table {
            border-collapse: separate;
            border-spacing: 0 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <div class="container bg-white update-cart">
            <div class="table-responsive text-nowrap">
                <h2 class="mt-5">Order Summary</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Item Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order_item in object.lines.all %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ order_item.product.title }}</td>
                            <td>{{ order_item.price }}</td>
                            <td>
                                <a href="{% url 'core:remove-single-item-from-cart' order_item.product.slug %}"><i
                                        class="fas fa-minus mr-2"></i></a>
                                {{ order_item.quantity }}
                                <a href="{% url 'core:add-to-cart' order_item.product.slug %}"><i
                                        class="fas fa-plus ml-2"></i></a>
                            </td>
                            <td>
                                {{ order_item.get_total_item_price }}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan='5'>Your cart is empty</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if object.total_price %}
                        <tr>
                            <td colspan="4"><b>Order Total</b></td>
                            <td><b> {{ object.total_price }}.00 </b></td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a class='btn btn-warning float-right ml-2' href="{% url "core:checkout" %}">Proceed to
                                    checkout</a>
                                <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

            </div>

        </div>
    </main>

{% endblock content %}


